[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

numpy = ">=1.8"
matplotlib = ">=1.2"
scipy = "*"
"e1839a8" = {path = ".", editable = true}


[dev-packages]
"flake8" = "*"
tox = "*"


[requires]
python_version = "3.6"